<html>
    <body>
        <h1>CBV - List View</h1>
        
        <ul>
            
            {% for te in object_list %}
            <li> {{te.first_name}} {{te.last_name}} <a href="/classroom/detailView/{{te.id}}"> Click Here for Detail View </a>  
            ==============  <a href="/classroom/updateView/{{te.id}}"> Click Here for Update View </a></li>
                ==============  <a href="/classroom/deleteView/{{te.id}}"> Click Here for Delete View </a></li>
            {% endfor %}
            
        </ul>
        
    </body>
</html>