<html>

<head>

<title> Hello </title>

</head>

<body>

<h1>Example Html to connect with Template alog with variables</h1>
<h2>{{first_name}}</h2>
<h2>{{some_list}}</h2>
<h2>{{some_list.1}}</h2>
<h2>{{some_dict.data}}</h2>
<h2>{# comments #}</h2>

<h1> Build in Filter</h1>
<h2>{{first_name | upper}}</h2>
<h2>Length of the name : {{first_name | length}}</h2>

<h2>More than one filter(called stacking): {{first_name | lower | upper}}</h2>

<h1> Tags : For Loop </h1>

{% for n in some_list%}

<li>{{n}}</li>


{% endfor %}
<h2>Looping Dictionary : </h2>
{% for k,v in some_dict.items%}

<h3>{{k}} , {{v}}</h3> 
{% endfor %}

<h1> If condition </h1>

{% if user_logged_in %}
    <h2> Yes am in </h2>    
{% endif %}

{% for num in some_list%}

    {% if num == 2 %}
        <li>Two</li>    
    {%else%}
        <li>{{num}}</li>
    {%endif%}    
{% endfor %}









</body>


</html>